
.imagenes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}
.imagen1{
    width: 220px;
}
.imagen2{
    width: 150px;
    height:80px;
    margin-top: 22px;
    margin-right:40px;
}
.medallas{
    width: 350px;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    margin: 20px;
    font-size: 40px;
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: rgba(210, 105, 30, 0.63);
}